* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #333;
    color: aliceblue;
    display: flex;
    align-items:center;
    padding: 0 1rem;
    justify-content: space-between;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* .signUp .signIn {
    align-items:flex-end;
} */
.sign-in-container .sign-up-container{
    align-items:flex-end;
}

